[Desktop Entry]
Categories=Utility
MimeType=font/collection;font/ttf;font/otf;application/x-font-otf;application/x-font-ttf;application/x-font-type1;
Exec=deepin-font-installer %f
Icon=deepin-font-installer
Name=Deepin Font Installer
StartupNotify=true
TryExec=deepin-font-installer
Type=Application

Name[zh_CN]=深度字体安装器
Name[uk] = Засіб встановлення шрифтів Deepin
Name[ms] = Pemasang Fon Deepin
Name[cs] = Deepin Instalátor písem
Name[pt] = Deepin Font Installer
Name[pt_BR] = Instalador de fontes Deepin
Name[ar] = مثبت خطوط ديبين
Name[sk] = Deepin Inštalátor písem
Name[es] = Instalador de Fuentes Deepin
Name[da] = Deepin skrifttypeinstallation
Name[ast] = Instalador de fontes
Name[de] = Deepin Schriftarten-Manager
Name[tr] = Deepin Yazı Tipi Yükleyici
Name[pl] = Instalator czcionek Deepin
Name[it] = Deepin Font Installer
Name[ru] = Установщик Шрифтов Deepin
Name[ca] = Instal·lador de lletres del Deepin
Name[es_419] = Deepin Font Installer
Name[sl] = Čarovnik za pisave Deepin
Name[fr] = Installateur de Police Deepin
Name[hr] = Deepin instaler fontova
Name[am_ET] = የ ዲፕኢን ፊደል መግጠሚያ
