[Desktop Entry]
Categories=Utility
MimeType=application/x-font-ttf;application/x-font-pcf;application/x-font-type1;application/x-font-otf;
Exec=deepin-font-installer %f
Icon=preferences-desktop-font
Name=Deepin Font Installer
StartupNotify=true
TryExec=deepin-font-installer
Type=Application
Name[zh_CN]=深度字体安装器
Icon[uk] = preferences-desktop-font
Name[uk] = Засіб встановлення шрифтів Deepin
Icon[ms] = preferences-desktop-font
Name[ms] = Pemasang Fon Deepin
Icon[cs] = preferences-desktop-font
Name[cs] = Deepin Instalátor písem
Icon[pt] = preferences-desktop-font
Name[pt] = Deepin Font Installer
Icon[pt_BR] = preferences-desktop-font
Name[pt_BR] = Instalador de fontes Deepin
Icon[zh_CN] = preferences-desktop-font
Icon[ar] = preferences-desktop-font
Name[ar] = مثبت خطوط ديبين
Icon[sk] = nastavenia-pisma-plochy
Name[sk] = Deepin Inštalátor písem
Icon[es] = Preferencias-de fuente-de escritorio
Name[es] = Instalador de Fuentes Deepin
Icon[da] = preferences-desktop-font
Name[da] = Deepin skrifttypeinstallation
Icon[ast] = preferences-desktop-font
Name[ast] = Instalador de fontes
Icon[de] = preferences-desktop-font
Name[de] = Deepin Schriftarten-Manager
Icon[tr] = masaüstü-yazıtipi-tercihleri
Name[tr] = Deepin Yazı Tipi Yükleyici
Icon[pl] = preferences-desktop-font
Name[pl] = Instalator czcionek Deepin
Icon[it] = preferences-desktop-font
Name[it] = Deepin Font Installer
Icon[ru] = предпочтительный-шрифт-рабочего стола
Name[ru] = Установщик Шрифтов Deepin
Icon[ca] = preferències-escriptori-lletra
Name[ca] = Instal·lador de lletres del Deepin
Icon[es_419] = preferencias-escritorio-fuente
Name[es_419] = Deepin Font Installer
Icon[sl] = nastavitve-namizje-pisave
Name[sl] = Čarovnik za pisave Deepin
Name[fr] = Installateur de Police Deepin
Icon[hr] = osobitosti-desktop-font
Name[hr] = Deepin instaler fontova
Icon[fr] = preferences-desktop-font
Icon[am_ET] = የ ዴስክቶፕ ፊደል ምርጫ
Name[am_ET] = የ ዲፕኢን ፊደል መግጠሚያ
