Source: deepin-font-installer
Section: utils
Priority: optional
Maintainer: Rekols <rekols@foxmail.com>
Build-Depends: debhelper (>= 9),pkg-config, qt5-qmake, libdtkwidget-dev, qttools5-dev-tools, libqt5svg5-dev, libfontconfig1-dev, libfreetype6-dev, libdde-file-manager-dev, deepin-gettext-tools
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: deepin-font-installer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdeepin-font-installer( =${binary:Version})
Description: Deepin Font Installer binary
 Deepin Font Installer is used to install and uninstall font file for users with bulk install function.

Package: libdeepin-font-installer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Deepin Font Installer library
 This package contains the shared libraries.

Package: libdeepin-font-installer-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdeepin-font-installer( =${binary:Version})
Description: Deepin Font Instaler Devel library
 This package contains the header files and static libraries
 of libdeepin-font-installer